<div class="row m-5">
    <div class="col-3">
        <img src="{{employee.avatar}}" alt="Employee Avatar" class="img">
        <div class="row my-3">
            <div class="col-6">
            
                <button class="btn btn-primary col-12" (click)="update()" >
                    Update
                </button>
            </div>
            <div class="col-6" let i = index>
                <button class="btn btn-warning col-12"> Remove </button>
                <!-- (click)="remove() -->
            </div>
        </div>
        
    </div>
    <div class="col-9 my-5">
        <div class="row mb-2">
            <div class="col-3">
                Employee ID: 
            </div>
            <div class="col-9">
                {{employee.id}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                First Name: 
            </div>
            <div class="col-9">
                {{employee.first_name}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                Last Name: 
            </div>
            <div class="col-9">
                {{employee.last_name}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                Email Address: 
            </div>
            <div class="col-9">
                {{employee.email}}
            </div>
        </div>
    </div>
</div>