.emp-name {
    background: #18b8dc;
    color: #fff;
    padding: 10px 5px;
    margin: 0;
    text-align: center;
}
.emp {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    padding: 0;
    .avatar {
        width: 100%;
        border: 2px solid #18b8dc;
    }
}

.box-shadow {
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    // box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.card {
    border: 2px solid #18b8dc;
}